# Markdown Basics
## Markdown Basics
### Markdown Basics

* **point1** (Bold)
* *point2* (Italic)
* ***point3*** (Bold and Italic)

* Normal Text
 * Sublist 1
 *Sublist 2
 
 >1. Point1
 >2. Point2
 
 * Google site --[1]: http://www.google.com
 * msn site    --[2]: https://www.msn.com
 
 *Google site  --[Google]
 
 - [1]: http://www.google.com
 
 - []option 2
 
 * msn site --[msn]2

### Python Basics
* Python version 3.7
- Functional Programming
- Object oriented Programming
- Scripting Programming

In [1]:
print("Hello, Vinay")

Hello, Vinay

In [2]:
print("Hello Vinay","|||")

Hello Vinay |||

In [4]:
print("Hello Gitam","Hyderabad ",end ="")
print("Welcome")

Hello Gitam Hyderabad Welcome

In [5]:
n1=500
print(n1)

500

In [7]:
n1=500
a=b=c=10
a1,b1,c1=11,22,33
print(n1)
print(a,b,c)
print(a1,b1,c1)

500
10 10 10
11 22 33

In [8]:
a=100;
s1="python"
s2='a'
print(a)
print(type(a))
print(type(s1))
print(type(s2))

100
<class 'int'>
<class 'str'>
<class 'str'>

In [9]:
a=100
s1="python"
s2='p'
f1=10.2
print(type(a),type(s1),type(s2),type(f1))

<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [2]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [5]:
a1=12345678
print(len(str(a1)))

8

In [8]:
s1=input("Enter ur name")
print(s1)
print(type(s1))

Enter ur nameanudeep
anudeep
<class 'str'>

In [1]:
#length of a string
a1=123456
print(len(str(a1)))

6

## Operators :

In [9]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

## Procedence of operators :
. parenthesis
. power
. division
. Multiplication
. Addition
. sub

In [1]:
x=1+2**3/4+5
print(x)

8.0

In [8]:
x=1+2**3/4*5
print(x)

11.0

## Relational Operators
. ==
. !=
. Greater (>)
. less than (<)
. less than or equal to (<=)
. Greater tha or equal to (>=)

## Logical Operators :

##and
##or
##not

In [ ]:
#to check given no is even or odd
n=int(input("Enter a no"))
if n%2==0:
     print("even")
else:
     print("odd")

In [ ]:
#to check given no is perfectly multiple of 3 ans 5
n=int(input("enter a no"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")